@import '/styles/registration.css';
@import '/styles/header.css';
@import '/styles/login.css';
@import '/styles/account.css';
@import '/styles/edit-account.css';
@import '/styles/gallery.css';
@import '/styles/slogans.css';
@import '/styles/slot.css';

body {
    font-family: "Manrope", sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    background-color: #fff;
}